body{
    font-family: Arial, sans-serif;
    background-color: #f5f5e8;
    padding: 20px;
    text-align: center;
  }

h1{
    color: #f13a3a;
    font-size: 50px;
  }
  .canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }

  #gifCanvas {

  }