<!DOCTYPE html>
<html class="x-admin-sm">
	<head>
		<meta charset="UTF-8">
		<title>服务类型列表</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport"
			content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
		<link rel="stylesheet" href="../static/admin/css/font.css">
		<link rel="stylesheet" href="../static/admin/css/xadmin.css">
		<link rel="stylesheet" href="../static/common/css/layui.css">
		<link rel="stylesheet" href="../static/common/css/element-ui.css">

		<script src="../static/admin/lib/layui/layui.js" charset="utf-8"></script>
		<script src="../static/admin/js/xadmin.js"></script>
		<script src="../static/common/js/vue.js"></script>
		<script src="../static/common/js/axios.js"></script>
		<script src="../static/common/js/element-ui.js"></script>

		<style>
			.layui-card-header {
				margin: 10px 0px;
			}
		</style>

		<script>
			// 获取本地的token令牌
			var data = localStorage.getItem("token");

			// token不存在，即还未登录
			if (data == null) {
				alert("请登录");
				// 跳转到登录页面
				location.href = "../common/login.html";
			}
		</script>
	</head>
	<body>
		<div id="app">
			<div class="layui-fluid">
				<div class="layui-row layui-col-space15">
					<div class="layui-col-md12">
						<div class="layui-card">
							<div class="layui-card-body ">
								<el-form :inline="true" :model="search" class="demo-form-inline">
									<el-form-item label="">
										<el-input v-model="search.searchId" placeholder="通过id查找"></el-input>
									</el-form-item>
									<el-form-item label="">
										<el-input v-model="search.searchName" placeholder="通过商品种类名查找"></el-input>
									</el-form-item>
									<el-form-item>
										<el-button type="primary" @click="searchKinds()">查询</el-button>
									</el-form-item>
								</el-form>
							</div>
							<div class="layui-card-header">
								<el-button type="danger" icon="el-icon-delete" @click="removeKinds()">批量删除</el-button>
								<el-button type="success" icon="el-icon-circle-plus-outline"
									@click="addDialogVisible = true">添加</el-button>
							</div>
							<div class="layui-card-body ">
								<template>
									<el-table border :header-cell-style="{background:'#eef1f6',color:'#606266'}"
										ref="multipleTable" :data="kindsInfo.rows" tooltip-effect="dark"
										style="width: 100%" @selection-change="handleSelectionChange">
										<el-table-column type="selection" width="55">
										</el-table-column>
										<el-table-column label="序号" width="120">
											<template slot-scope="scope">{{ scope.$index + 1 }}</template>
										</el-table-column>
										<el-table-column label="ID" width="120">
											<template slot-scope="scope">{{ scope.row.id }}</template>
										</el-table-column>
										<el-table-column prop="name" label="种类名" width="120">
										</el-table-column>
										<el-table-column label="操作">
											<template slot-scope="scope">
												<el-button type="primary" size="mini" icon="el-icon-edit" circle
													@click="handleEdit(scope.$index, scope.row)"></el-button>
												<el-button type="danger" size="mini" icon="el-icon-delete" circle
													@click="removeKinds(scope.row.id)"></el-button>
											</template>
										</el-table-column>
									</el-table>
								</template>
							</div>
							<div class="layui-card-body ">
								<template>
									<div class="block" style="margin-left: 150px;">
										<el-pagination @size-change="handleSizeChange" background
											@current-change="handleCurrentChange" :current-page="currentPage"
											:page-size="pageSize" layout="total, prev, pager, next, jumper"
											:total="kindsInfo.total">
										</el-pagination>
									</div>
								</template>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- 编辑弹窗 -->
			<el-dialog title="编辑" :visible.sync="editDialogVisible" top="100px" width="30%" :before-close="handleClose">
				<el-form ref="form" :model="tempKindsInfo" label-width="60px">
					<el-form-item label="种类名">
						<el-input style="margin-left: 0px;" v-model.trim="tempKindsInfo.name"></el-input>
					</el-form-item>
				</el-form>
			
				<span slot="footer" class="dialog-footer">
					<el-button @click="editCancel()">取 消</el-button>
					<el-button type="primary" @click="editVerify()">确
						定</el-button>
				</span>
			</el-dialog>
			
			<!-- 新增商品种类弹窗 -->
			<el-dialog title="新增" :visible.sync="addDialogVisible" top="100px" width="30%" :before-close="handleClose">
				<el-form ref="form" :model="tempKindsInfo" label-width="70px">
					<el-form-item label="种类名">
						<el-input style="margin-left: 0px;" v-model.trim="tempKindsInfo.name"></el-input>
					</el-form-item>
				</el-form>
			
				<span slot="footer" class="dialog-footer">
					<el-button @click="addCancel()">取 消</el-button>
					<el-button type="primary" @click="addVerify()">确
						定</el-button>
				</span>
			</el-dialog>
		</div>
	</body>

	<script>
		var vm = new Vue({
			el: "#app",
			data: {
				kindsInfo: {
					rows: [{
						id: '',
						name: ''
					}],
					total: 0
				},
				tempKindsInfo: {
					id: null,
					name: null,
				},
				search: {
					searchId: '',
					searchName: '',
				},
				multipleSelection: [],
				editDialogVisible: false,
				addDialogVisible: false,
				currentPage: 1,
				pageSize: 10,
				getAllKindsUrl: 'http://127.0.0.1:8080/adminUser/getAllKindsPage'
			},
			methods: {
				// 多选
				toggleSelection(rows) {
					if (rows) {
						rows.forEach(row => {
							this.$refs.multipleTable.toggleRowSelection(row);
						});
					} else {
						this.$refs.multipleTable.clearSelection();
					}
				},
				handleSelectionChange(val) {
					this.multipleSelection = val;
				},
				// 分页
				handleSizeChange(val) {

				},
				handleCurrentChange(val) {
					this.getAllKinds(val, this.pageSize, this.getAllKindsUrl);
				},
				// 编辑
				handleEdit(index, row) {
					// 打开弹窗
					this.editDialogVisible = true;
				
					this.tempKindsInfo.id = row.id;
					this.tempKindsInfo.name = row.name;
				},
				// 关闭窗口
				handleClose(done) {
					this.$confirm('确认关闭？')
						.then(_ => {
							done();
						})
						.catch(_ => {});
				
					this.tempKindsInfo = {
						id: null,
						name: null
					}
				},
				editCancel() {
					this.editDialogVisible = false;
				
					this.tempKindsInfo = {
						id: null,
						name: null,
					}
				},
				// 修改
				editVerify() {
					var name = this.tempKindsInfo.name.trim();
					if (name == '' || name == null) {
						layer.msg("用户名不能为空");
					}
					
					// 发送数据
					axios
						.put("http://127.0.0.1:8080/adminUser/editKindsInfo",
							vm.tempKindsInfo, {
								headers: {
									'token': data
								},
							}).then(function(response) {
					
							if (response.data.code == 0) { // 添加失败
								layer.msg(response.data.msg);
							} else if (response.data.code == 1) { // 添加成功
								layer.msg("修改成功");
					
								// 关闭弹窗
								vm.editDialogVisible = false;
					
								vm.tempKindsInfo = {
									id: null,
									name: null
								}
					
								vm.getAllKinds(1, vm.pageSize, vm.getAllKindsUrl);
							}
					
							vm.dialogVisible = false; // 关闭弹窗
						}).catch(function(error) {
							console.log(error); // 提示用户失败信息
						});
				},
				
				addCancel() {
					this.addDialogVisible = false;
				
					this.tempKindsInfo = {
						id: null,
						name: null
					}
				},
				addVerify() {
					var name = this.tempKindsInfo.name;
					
					if (name == null || name == '') {
						layer.msg("请输入商品名");
						return;
					}
					
					// 发送数据
					axios
						.post("http://127.0.0.1:8080/adminUser/addKinds",
							vm.tempKindsInfo, {
								headers: {
									'token': data
								},
							}).then(function(response) {
					
							if (response.data.code == 0) { // 添加失败
								layer.msg(response.data.msg);
							} else if (response.data.code == 1) { // 添加成功
								layer.msg("添加成功");
					
								// 关闭弹窗
								vm.addDialogVisible = false;
					
								vm.tempKindsInfo = {
									id: null,
									name: null,
								}
					
								vm.getAllKinds(1, vm.pageSize, vm.getAllKindsUrl);
							}
					
							vm.dialogVisible = false; // 关闭弹窗
						}).catch(function(error) {
							console.log(error); // 提示用户失败信息
						});
				},
				// 删除商品种类
				removeKinds(id) {
					this.$confirm('此操作将永久删除, 是否继续?', '提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning',
						center: true
					}).then(() => {
						let url = "http://127.0.0.1:8080/adminUser/removeKinds/"
				
						if (id == null) {
							for (var i = 0; i < this.multipleSelection.length; i++) {
								url += (this.multipleSelection[i].id);
				
								if (i != this.multipleSelection.length - 1) {
									url += ',';
								}
							}
						} else {
							url += id;
						}
				
						axios
							.delete(url, {
								headers: {
									'token': data
								},
							}).then(function(response) {
								if (response.data.code == 0) { // 删除失败
									if (response.data.msg == 'NOT_LOGIN') { // 登录信息过期
										layer.msg("登录信息过期，请重新登录", {
											time: 1200
										}, function(res) {
											top.location.href =
												'../common/login.html'; // 最外层的url跳转到登录页面
										});
				
										return;
									}
				
									layer.msg(response.data.msg);
									return;
								}
				
								layer.msg("删除成功");
								vm.multipleSelection = [];
								vm.getAllKinds(1, vm.pageSize, vm.getAllKindsUrl);
				
							}).catch(function(error) {
								console.log(error); // 提示用户失败信息
							});
				
					}).catch(() => {
						this.$message({
							type: 'info',
							message: '已取消删除'
						});
					});
				},
				searchKinds() {
				
					goods = {
						id: this.search.searchId,
						name: this.search.searchName
					}
				
					axios
						.post("http://127.0.0.1:8080/adminUser/getKindsInfoByConditionQuery",
							goods, {
								headers: {
									'token': data
								},
							}).then(function(response) {
							if (response.data.code == 0) { // 查询失败
								if (response.data.msg == 'NOT_LOGIN') { // 登录信息过期
									layer.msg("登录信息过期，请重新登录", {
										time: 1200
									}, function(res) {
										top.location.href = '../common/login.html'; // 最外层的url跳转到登录页面
									});
				
									return;
								}
				
								layer.msg(response.data.msg);
								return;
							}
							vm.kindsInfo = response.data.data;
						}).catch(function(error) {
							console.log(error); // 提示用户失败信息
						});
				},
				// 发送请求
				getAllKinds(page, pageSize, url) {

					if (page == null) {
						url += ("?pageSize=" + pageSize);
					} else if (pageSize == null) {
						url += ("?page=" + page);
					} else if (page != null && pageSize != null) {
						url += ("?page=" + page + "&pageSize=" + pageSize);
					}

					axios
						.get(url, {
							headers: {
								'token': data
							},
						}).then(function(response) {
							if (response.data.code == 0) { // 获取失败
								if (response.data.msg == 'NOT_LOGIN') { // 登录信息过期
									layer.msg("登录信息过期，请重新登录", {
										time: 1200
									}, function(res) {
										top.location.href = '../common/login.html'; // 最外层的url跳转到登录页面
									});

									return;
								}

								layer.msg(response.data.msg);
								return;
							}

							vm.kindsInfo = response.data.data;
						}).catch(function(error) {
							console.log(error); // 提示用户失败信息
						});
				}
			},
			mounted() {
				this.getAllKinds(1, this.pageSize, this.getAllKindsUrl);
			}
		})
	</script>
</html>