<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>家政平台-个人中心</title>

		<!-- all css -->
		<link rel="stylesheet" href="../static/css/zui.min.css">
		<link rel="stylesheet" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/css/magnific-popup.css">
		<link rel="stylesheet" href="../static/css/owl.carousel.min.css">
		<link rel="stylesheet" href="../static/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/css/flaticon.css">
		<link rel="stylesheet" href="../static/css/ionicons.min.css">
		<link rel="stylesheet" href="../static/css/headline.css">
		<link rel="stylesheet" href="../static/css/animate.min.css">
		<link rel="stylesheet" href="../static/css/material-design-iconic-font.min.css">
		<link rel="stylesheet" href="../static/css/meanmenu.css">
		<link rel="stylesheet" href="../static/css/Pe-icon-7-stroke.css">
		<link rel="stylesheet" href="../static/css/bundle.css">
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="stylesheet" href="../static/css/responsive.css">
		<link rel="stylesheet" href="../static/css/layui.css">
		<link rel="stylesheet" href="../static/css/element-ui.css">

		<script src="../static/js/vendor/modernizr-2.8.3.min.js"></script>
		<script src="../static/js/jquery.js"></script>
		<script src="../static/js/zui.min.js"></script>
		<script src="../static/js/layui.js"></script>
		<script src="../static/js/vue.js"></script>
		<script src="../static/js/axios.js"></script>
		<script src="../static/js/element-ui.js"></script>

		<script>
			// 获取本地的token令牌
			var data = localStorage.getItem("token");

			// token不存在，即还未登录
			if (data == null) {
				alert("请登录");
				// 跳转到登录页面
				location.href = "./login.html";
			}
		</script>
	</head>

	<body>
		<div id="app">
			<div class="header-top-area blue-bg">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 site-branding col-xs-12">
							<div class="header-logo">
								<a href="index.html"><img src="../static/img/logo/1.png" alt="" /></a>
							</div>
						</div>
						<div class="col-lg-5 col-md-6 col-sm-9 hidden-xs">
							<div class="header-left">
								<div class="header-text">
									<div class="header-icon">
										<i class="fa fa-phone"></i>
										<i class="paint-roller"></i>
									</div>
									<div class="header-info">
										<span class="phone">+00-1202-235</span>
										<span class="gmail">hmend@gmail.com</span>
									</div>
								</div>
								<div class="header-text">
									<div class="header-icon">
										<i class="fa fa-home"></i>
									</div>
									<div class="header-info">
										<span class="phone">福州大学至诚学院</span>
										<span class="gmail">福州市，鼓楼区</span>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-3 hidden-sm col-xs-12">
							<div class="header-left-icon">
								<a href="#"><i class="icon icon-user icon-2x"> 个人中心</i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="header"></div>

			<div class="section-person">
				<div class="container">
					<div class="row">
						<div class="person-wrap">
							<div class="person-left col-md-3">
								<div class="person-head">
									<img :src="userInfo.image" class="thumbnail" alt="" />
									<div class="real-name">用户名</div>
								</div>
								<ul class="person-tab">
									<a href="person.html">
										<li><span class="fa fa-user-o"></span>基本信息</li>
									</a>
									<a href="person-account.html">
										<li class="active"><span class="fa fa-vcard-o"></span>我的账户</li>
									</a>
									<a href="person-order.html">
										<li><span class="fa fa-newspaper-o"></span>订单管理</li>
									</a>
									<a href="person-password.html">
										<li><span class="fa fa-newspaper-o"></span>修改密码</li>
									</a>
									<a href="person-suggest.html">
										<li><span class="fa fa-newspaper-o"></span>投诉建议</li>
									</a>
								</ul>
							</div>
							<div class="person-right col-md-9">
								<div class="row">
									<div class="person-cont">
										<h4>我的账户</h4>
										<ul class="person-piece">
											<li class="piece-item">
												<span class="tit col-sm-2">余额</span>
												<div class="base-input col-sm-10">
													<input type="text" class="form-control" readonly placeholder=""
														:value="userInfo.money + '元'" />
												</div>
											</li>
											<li class="piece-item">
												<span class="tit col-sm-2">充值金额</span>
												<div class="base-input col-sm-10">
													<input type="text" class="form-control" placeholder=""
														v-model="topUpMoney" />
												</div>
											</li>
											<li class="piece-item">
												<span class="tit col-sm-2">充值方式</span>
												<div class="base-input col-sm-10">
													<template>
														<el-radio v-model="radio" label="1">支付宝充值</el-radio>
														<el-radio v-model="radio" label="2">微信充值</el-radio>
													</template>

													<!-- <button class="btn btn-default">充值</button> -->
													<el-button type="button"
														@click="dialogVisible = true">充值</el-button>
													<el-dialog title="请输入密码" :visible.sync="dialogVisible" top="200px" width="30%"
														:before-close="handleClose">

														<el-form ref="form" :model="form" label-width="70px">
															<el-form-item label="密码">
																<el-input style="margin-left: -10px;" v-model.trim="form.password" show-password></el-input>
															</el-form-item>
																
															<el-form-item label="确认密码">
																<el-input style="margin-left: -10px;" v-model.trim="form.confirmPassword" show-password></el-input>
															</el-form-item>
														</el-form>
														
														<span slot="footer" class="dialog-footer">
															<el-button @click="dialogVisible = false">取 消</el-button>
															<el-button type="primary" @click="verify()">确
																定</el-button>
														</span>
													</el-dialog>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script>
			$(".tab-li").hide().first().show();
			$(".search-input li").hide().first().show();
			$(".person-cont").hide().first().show();
			$(".order-tab").hide().first().show();
			$(document).ready(function(e) {
				$(".nav-more").click(function() {
					$(".hide-nav").slideToggle();
				});
				$(".drop-menu").click(function() {
					$(".header-nav").slideToggle();
				});
				$(".three li").click(function() {
					$(this).addClass("current").siblings().removeClass("current");
					$(".search-input li").hide().eq($(this).index()).show();
				});
				$(".person-tab li").click(function() {
					$(this).addClass("active").siblings().removeClass("active");
					$(".person-cont").hide().eq($(this).index()).show();
				});
				$(".base-radio .choose-radio").click(function() {
					$(".tab-li").hide().eq($(this).index()).show();
				});
				$(".person-cont h4 span").click(function() {
					$(this).addClass("active").siblings().removeClass("active");
					$(".order-tab").hide().eq($(this).index()).show();
				});
				//返回顶部
				$(".top-item").click(function() {
					$('body,html').animate({
						scrollTop: 0
					}, 500);
					return false;
				});
				$(".change-btn").click(function() {
					$(".modal").fadeIn();
					$(".public-dom").fadeIn();
				});
				$(".close,.layui-layer-btn a").click(function() {
					$(".modal").fadeOut();
					$(".layui-layer").fadeOut();
					$(".public-dom").fadeOut();
				});
				$(".delete-btn").click(function() {
					$(".layui-layer").fadeIn();
				});
			});
		</script>

		<script>
			var vm = new Vue({
				el: "#app",
				data: {
					userInfo: {
						address: '',
						email: '',
						image: '',
						money: 0,
						name: '',
						password: '',
						phone: '',
						sex: '',
						username: ''
					},
					radio: "1",
					form: {
						password: '',
						confirmPassword: ''
					},
					dialogVisible: false,
					topUpMoney: 0,
				},
				methods: {
					handleClose(done) {
						this.$confirm('确认关闭？')
							.then(_ => {
								done();
							})
							.catch(_ => {});
					},
					verify() {
						let password = this.form.password.trim();
						let confirmPassword = this.form.confirmPassword.trim();
						
						if (password == null || password == '' || confirmPassword == null || confirmPassword == '') {
							layer.msg("请填写密码和确认密码", {
								time: 1200
							});
							return;
						} else if (password !== confirmPassword) {
							layer.msg("两次输入的密码不一致", {
								time: 1200
							});
							return;
						}
						
						// 准备要传递的数据
						let myParams = new URLSearchParams();
						myParams.append('password', password);
						myParams.append("topUpMoney", this.topUpMoney);
						
						// 发送数据
						axios
						.put("http://127.0.0.1:8080/consumerUser/topUp",
							myParams,
							{
								headers: {
									'token': data
								},
						}).then(function(response) {
							
							if (response.data.code == 0) {	// 充值失败
								layer.msg(response.data.msg);
							} else if (response.data.code == 1) { // 充值成功
								vm.userInfo = response.data.data;	// 更新数据
								
								// 清空输入数据
								vm.topUpMoney = 0;
								vm.form.password = '';
								vm.form.confirmPassword = '';
								
								layer.msg("充值成功");
							}
							
							vm.dialogVisible = false;	// 关闭弹窗
						}).catch(function(error) {
							console.log(error); // 提示用户失败信息
						});
					}
				},
				mounted() {
					axios
					.get("http://127.0.0.1:8080/consumerUser/getUserInfo", {
						headers: {
							'token': data
						},
					}).then(function(response) {

						if (response.data.code == 0) {	// 获取失败
							if (response.data.msg == 'NOT_LOGIN') {	// 登录信息过期
								layer.msg("登录信息过期，请重新登录",{
									time: 1200
								}, function (res) {
									location.href = './login.html';	// 跳转到登录页面
								});
								
								return;
							}
						
							layer.msg(response.data.msg);
							return;
						}

						vm.userInfo = response.data.data;

					}).catch(function(error) {
						console.log(error); // 提示用户失败信息
					});
				}
			})
		</script>
	</body>

</html>