<!DOCTYPE html>
<html class="x-admin-sm">
	<head>
		<meta charset="UTF-8">
		<title>家政系统-服务人员界面</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport"
			content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
		<link rel="stylesheet" href="../static/worker/css/font.css">
		<link rel="stylesheet" href="../static/worker/css/xadmin.css">
		<link rel="stylesheet" href="../static/worker/lib/layui/css/layui.css">
		<link rel="stylesheet" href="../static/common/css/element-ui.css">

		<script src="../static/admin/lib/layui/layui.js" charset="utf-8"></script>
		<script src="../static/admin/js/xadmin.js"></script>
		<script src="../static/common/js/vue.js"></script>
		<script src="../static/common/js/axios.js"></script>
		<script src="../static/common/js/element-ui.js"></script>

		<style>
			img {
				width: 100px;
				height: 100px;
			}

			.avatar-uploader .el-upload {
				border: 1px dashed #d9d9d9;
				border-radius: 6px;
				cursor: pointer;
				position: relative;
				overflow: hidden;
			}

			.avatar-uploader .el-upload:hover {
				border-color: #409EFF;
			}

			.avatar-uploader-icon {
				font-size: 28px;
				color: #8c939d;
				width: 98px;
				height: 98px;
				line-height: 98px;
				text-align: center;
			}

			.avatar {
				width: 98px;
				height: 98px;
				display: block;
			}
		</style>

		<script>
			// 获取本地的token令牌
			var data = localStorage.getItem("token");

			// token不存在，即还未登录
			if (data == null) {
				alert("请登录");
				// 跳转到登录页面
				location.href = "../common/login.html";
			}
		</script>

	</head>
	<body>
		<div id="app">
			<div class="layui-fluid">
				<div class="layui-row layui-col-space15">
					<div class="layui-col-md12">
						<div class="layui-card">
							<div class="layui-card-body ">
								<blockquote class="layui-elem-quote">欢迎用户：<span
										class="x-red">{{ userInfo.username }}</span>！
									<br />
									当前时间:<span id="time1"></span>
								</blockquote>
							</div>
						</div>
					</div>
					<div class="layui-col-md12">
						<div class="layui-card">
							<div class="layui-card-header">个人信息</div>
							<div class="layui-card-body ">
								<table class="layui-table">
									<tbody>
										<tr>
											<th>头像</th>
											<td>
												<el-upload class="avatar-uploader" action="" :show-file-list="false"
													:on-success="handleAvatarSuccess" :http-request="upload"
													:before-upload="beforeAvatarUpload">
													<img v-if="userInfo.image" :src="userInfo.image" class="avatar">
													<i v-else class="el-icon-plus avatar-uploader-icon"></i>
												</el-upload>
											</td>
										</tr>
										<tr>
											<th>用户名</th>
											<td>
												<div class="base-input col-sm-10">
													<el-input size="small" v-model="userInfo.username"
														placeholder="请输入内容" style="width: 200px;"></el-input>
												</div>
											</td>
										</tr>
										<tr>
											<th>姓名</th>
											<td>
												<div class="base-input col-sm-10">
													<el-input size="small" v-model="userInfo.name" placeholder="请输入内容"
														style="width: 200px;"></el-input>
												</div>
											</td>
										</tr>
										<tr>
											<th>性别</th>
											<td>
												<div class="base-input col-sm-10">
													<template>
														<el-radio-group v-model="userInfo.sex">
															<el-radio :label="0">女</el-radio>
															<el-radio :label="1">男</el-radio>
														</el-radio-group>
													</template>
												</div>
											</td>
										</tr>
										<tr>
											<th>年龄</th>
											<td>
												<div class="base-input col-sm-10">
													<template>
													  <el-input-number size="small" v-model="userInfo.age" :min="1" label="描述文字"></el-input-number>
													</template>
												</div>
											</td>
										</tr>
										<tr>
											<th>地址</th>
											<td>
												<div class="base-input col-sm-10">
													<el-input size="small" v-model="userInfo.address" placeholder="请输入内容"
														style="width: 200px;"></el-input>
												</div>
											</td>
										</tr>
										<tr>
											<th>手机号</th>
											<td>
												<div class="base-input col-sm-10">
													<el-input size="small" v-model="userInfo.phone" placeholder="请输入内容"
														style="width: 200px;"></el-input>
												</div>
											</td>
										</tr>
										<tr>
											<th>邮箱</th>
											<td>
												<div class="base-input col-sm-10">
													<el-input size="small" v-model="userInfo.email" placeholder="请输入内容"
														style="width: 200px;"></el-input>
												</div>
											</td>
										</tr>
										<tr>
											<th>简介</th>
											<td>
												<!-- 本人性格活泼开朗，善于与人沟通，有较强的交际技巧。工作认真负责，细心、有条理，能够及时准确地完成各项工作 -->
												<el-input
												  type="textarea"
												  :rows="2"
												  placeholder="请输入内容"
												  v-model="userInfo.briefIntroduction">
												</el-input>
											</td>
										</tr>
										<tr>
											<th>工作状态</th>
											<td>
												<div class="base-input col-sm-10">
													<el-switch
													  v-model="userInfo.status"
													  :disabled="changeState"
													  active-color="#13ce66"
													  inactive-color="#ff4949"
													  active-text="工作"
													  inactive-text="休息"
													  :active-value.number="1"
													  :inactive-value.number="0">
													</el-switch>
													<el-tag v-if="changeState" type="danger" style="margin-left: 30px;">请先填写姓名和手机号</el-tag>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="upload base-input col-sm-10 col-sm-offset-2">
									<button type="button" class="layui-btn" data-method="confirmTransB"
										class="btn btn-default alert-btn" @click="updateInfo()">保存资料</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script type="text/javascript">
		function mytime() {

			var a = new Date();

			var b = a.toLocaleTimeString();

			var c = a.toLocaleDateString();

			document.getElementById("time1").innerHTML = c + "&nbsp" + b;

		}

		setInterval(function() {
			mytime()
		}, 1000);
	</script>

	<script>
		var vm = new Vue({
			el: "#app",
			data: {
				userInfo: {
					id: '',
					username: '',
					name: '',
					sex: '',
					age: '',
					address: '',
					phone: '',
					email: '',
					briefIntroduction: '',
					status: '',
					money: '',
					image: ''
				},
				changeState: false
			},
			methods: {
				// 上传图片
				handleAvatarSuccess(res, file) {},
				beforeAvatarUpload(file) {
					const isJPG = file.type === 'image/jpeg';
					const isLt2M = file.size / 1024 / 1024 < 2;

					if (!isJPG) {
						this.$message.error('上传图片只能是 JPG 格式!');
					}
					if (!isLt2M) {
						this.$message.error('上传图片大小不能超过 2MB!');
					}
					return isJPG && isLt2M;
				},
				upload(param) {
					let formdata = new FormData();

					formdata.append("image", param.file);

					axios
					.post("http://127.0.0.1:8080/worker/upload",
						formdata, {
							headers: {
								'token': data
							},
						}).then(function(response) {

						if (response.data.code == 0) { // 上传失败
							layer.msg(response.data.msg);
							return;
						} else if (response.data.code == 1) { // 上传成功
							vm.userInfo.image = response.data.data;
						}
					}).catch(function(error) {
						console.log(error); // 提示用户失败信息
					});
				},
				// 更新信息
				updateInfo() {
					var username = this.userInfo.username.trim();
					
					if (username == '' || username == null) {
						layer.msg("用户名不能为空");
						return;
					}
					
					// 发送数据
					axios
					.put("http://127.0.0.1:8080/worker/editWorkerInfo",
						vm.userInfo, {
							headers: {
								'token': data
							},
						}).then(function(response) {
					
						if (response.data.code == 0) { // 添加失败
							layer.msg(response.data.msg);
						} else if (response.data.code == 1) { // 添加成功
							layer.msg("修改成功");
							
							vm.getUserInfo();
						}
					}).catch(function(error) {
						console.log(error); // 提示用户失败信息
					});
				},
				// 获取用户信息
				getUserInfo() {
					axios
					.get("http://127.0.0.1:8080/worker/getUserInfo", {
						headers: {
							'token': data
						},
					}).then(function(response) {

						if (response.data.code == 0) { // 获取失败
							if (response.data.msg == 'NOT_LOGIN') { // 登录信息过期
								layer.msg("登录信息过期，请重新登录", {
									time: 1200
								}, function(res) {
									location.href = '../common/login.html'; // 跳转到登录页面
								});

								return;
							}

							layer.msg(response.data.msg);
							return;
						}

						vm.userInfo = response.data.data;
						
						if (vm.userInfo.name == null || vm.userInfo.name == '' ||
							vm.userInfo.phone == null || vm.userInfo.phone == '') {
							vm.changeState = true;
						}

					}).catch(function(error) {
						console.log(error); // 提示用户失败信息
					});
				}
			},
			mounted() {
				// 获取用户信息
				this.getUserInfo();
			}
		})
	</script>
</html>